.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
}

.logo {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}

.logo img {
    margin: 0 20px;
}

.profile {
    display: flex;
}

.name-profile {
    line-height: 34px;
    color: white;
    font-size: 15px;
}

.image-profile {
    margin: 0 5px;
    background-color: rgb(238, 238, 238);
    height: 34px;
    width: 34px;
    border-radius: 100%;
}

.initials {
    text-align: center;
    line-height: 34px;
    height: 34px;
    width: 34px;
}
