<div class="card">

    <h1>Top 5</h1>

    <hr>

    <div class="row-score">
        <div class="column">
          <h2>Highest avg age</h2>
          <div class="group-tiles">
 
            <div class="card-tiles" *ngFor="let team of highest">
              <span style="color: rgb(100, 100, 100);">{{team.name}}</span>
              <span style="float: right;color: rgb(63, 63, 63);"><b>{{team.age}}</b></span>
            </div>
            
          </div>
        </div>
        <div class="column">
          <h2>Lowest avg age</h2>
          <div class="group-tiles">

            <div class="card-tiles" *ngFor="let team of lowest">
              <span style="color: rgb(100, 100, 100);">{{team.name}}</span>
              <span style="float: right;color: rgb(63, 63, 63);"><b>{{team.age}}</b></span>
            </div>

        </div>
        </div>
      </div>

     
</div>