<div class="card">

    <h1>Top 5</h1>

    <hr>

    <div class="row-score">
        <div class="column">
          <h2>Highest avg age</h2>
          <div class="group-tiles">
 
            <div class="card-tiles">
                aaa
            </div>

            <div class="card-tiles">
                aaa
            </div>

            <div class="card-tiles">
                aaa
            </div>

            <div class="card-tiles">
                aaa
            </div>
            
          </div>
        </div>
        <div class="column">
          <h2>Lowest avg age</h2>
          <div class="group-tiles">
            <div class="card-tiles">
                aaa
            </div>
        </div>
        </div>
      </div>

     
</div>