.footer {
    color: black;
    background-color: rgb(226, 226, 226);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position:sticky;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 12px;
}
