<div class="card">

    <a routerLink="/create-team" class="btn vertical-gradient btn-animation">
      <fa-icon [icon]="faPlus" style="position: relative;top: 9px;"></fa-icon>
    </a>

    <h1>My teams</h1>

    <hr>
    <div class="loader" *ngIf="loading">Loading...</div>
    
    <div style="margin: 10px;" *ngIf="!loading">
      <table class="table" matSort (matSortChange)="sortData($event)">
        <thead>
        <tr>
          <th mat-sort-header="name">Name</th>
          <th mat-sort-header="description">Description</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of sortedData" class="table-animation">
            <td>
              {{ team.name }}
            </td>
            <td>{{ team.description }}</td>
            <td style="text-align: end;">
              <fa-icon [icon]="faDelete" class="icon btn-animation" (click)="deteleTeam(team)"></fa-icon>
              <fa-icon [icon]="faShare" class="icon btn-animation"></fa-icon>
              <a [routerLink]="'/create-team'" [state]="{data: team}"><fa-icon [icon]="faPen" class="icon btn-animation"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
</div>
