<div class="card vertical-gradient">
    <div class="row">

        <div class="column">
            <h1>Most picked player</h1>
            <div class="image">
                <div class="initial-letters">
                    <span>{{getInitials(name)}}</span>
                </div>
            </div>
        </div>

        <div class="column">
            <h1>Less picked player</h1>
            <div class="image">
                <div class="initial-letters">
                    <span>{{getInitials(name)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>